---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq
  namespace: {{ .Release.Namespace }}
data:
  RABBITMQ_DEFAULT_USER: {{ .Values.env.rabbitmq_host | quote }}
  RABBITMQ_DEFAULT_PASS: {{ .Values.env.rabbitmq_port | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: identity-service
  namespace: {{ .Release.Namespace }}
data:
  MDDC_IDENTITY_SERVICE_DB_HOST: {{ default (include "mddc.postgresql.host" .) .Values.env.MDDC_IDENTITY_SERVICE_DB_HOST | quote }}
  MDDC_IDENTITY_SERVICE_DB_PORT: {{ default (include "mddc.postgresql.port" .) .Values.env.MDDC_IDENTITY_SERVICE_DB_PORT | quote }}
  MDDC_IDENTITY_SERVICE_PORT: {{ default "8891" .Values.env.MDDC_IDENTITY_SERVICE_PORT | quote }}
  LOG_LEVEL: {{ .Values.env.LOG_LEVEL | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: file-storage
  namespace: {{ .Release.Namespace }}
data:
  MDDC_FILE_STORAGE_PORT: {{ default "8890" .Values.env.MDDC_FILE_STORAGE_PORT | quote }}
  MDDC_FILE_STORAGE_HOST: {{ default "file-storage" .Values.env.MDDC_FILE_STORAGE_HOST | quote }}
  MDDC_CONTROL_CENTER_HOST: {{ default "control-center" .Values.env.MDDC_CONTROL_CENTER_HOST | quote }}
  MDDC_CONTROL_CENTER_PORT: {{ default "8892" .Values.env.MDDC_CONTROL_CENTER_PORT | quote }}
  LOG_LEVEL: {{ .Values.env.LOG_LEVEL | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: control-center
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/resource-policy": keep
data:
  MDDC_LAKE_DB_HOST: {{ default (include "mddc.postgresql.host" .) .Values.env.MDDC_LAKE_DB_HOST | quote }}
  MDDC_LAKE_DB_PORT: {{ default (include "mddc.postgresql.port" .) .Values.env.MDDC_LAKE_DB_PORT | quote }}
  MDDC_WAREHOUSE_DB_HOST: {{ default (include "mddc.postgresql.host" .) .Values.env.MDDC_WAREHOUSE_DB_HOST | quote }}
  MDDC_WAREHOUSE_DB_PORT: {{ default (include "mddc.postgresql.port" .) .Values.env.MDDC_WAREHOUSE_DB_PORT | quote }}
  MDDC_CACHE_HOST: {{ include "mddc.redis.host" . | quote }}
  MDDC_CACHE_PORT: {{ include "mddc.redis.port" . | quote }}
  MDDC_BROKER_HOST: {{ include "mddc.rabbitmq.host" . | quote }}
  MDDC_BROKER_PORT: {{ include "mddc.rabbitmq.port" . | quote }}
  MDDC_CONTROL_CENTER_DB_HOST: {{ default (include "mddc.postgresql.host" .) .Values.env.MDDC_CONTROL_CENTER_DB_HOST | quote }}
  MDDC_CONTROL_CENTER_DB_PORT: {{ default (include "mddc.postgresql.port" .) .Values.env.MDDC_CONTROL_CENTER_DB_PORT | quote }}
  MDDC_IDENTITY_SERVICE_HOST: {{ default "identity-service" .Values.env.MDDC_IDENTITY_SERVICE_HOST | quote }}
  MDDC_FILE_STORAGE_HOST: {{ default "file-storage" .Values.env.MDDC_FILE_STORAGE_HOST | quote }}
  MDDC_FILE_STORAGE_PORT: {{ default "8890" .Values.env.MDDC_FILE_STORAGE_PORT | quote }}
  MDDC_CERT_PATH: {{ default "/certs" .Values.env.MDDC_FILE_STORAGE_PORT | quote }}
  LOG_LEVEL: {{ .Values.env.LOG_LEVEL | quote }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: worker-api-gateway
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/resource-policy": keep
data:
  MDDC_WORKER_PORT: {{ default "8893" .Values.env.MDDC_WORKER_PORT | quote }}
  MDDC_CONTROL_CENTER_HOST: {{ default "control-center" .Values.env.MDDC_CONTROL_CENTER_HOST | quote }}
  MDDC_CONTROL_CENTER_PORT: {{ default "8892" .Values.env.MDDC_CONTROL_CENTER_PORT | quote }}
  MDDC_API_GATEWAY_PORT: {{ default "8899" .Values.env.MDDC_CONTROL_CENTER_PORT | quote }}
  LOG_LEVEL: {{ .Values.env.LOG_LEVEL | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: worker-core
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/resource-policy": keep
data:
  MDDC_WORKER_PORT: {{ default "8893" .Values.env.MDDC_CORE_PORT | quote }}
  MDDC_CONTROL_CENTER_HOST: {{ default "control-center" .Values.env.MDDC_CONTROL_CENTER_HOST | quote }}
  MDDC_CONTROL_CENTER_PORT: {{ default "8892" .Values.env.MDDC_CONTROL_CENTER_PORT | quote }}
  MDDC_CORE_PORT: {{ default "8008" .Values.env.MDDC_CORE_PORT | quote }}
  MDDC_LICENSE_DESCRIPTION: {{ default (print .Release.Namespace "K8S MetaDefender Cluster") .Values.env.MDDC_LICENSE_DESCRIPTION | quote }}
  LOG_LEVEL: {{ .Values.env.LOG_LEVEL | quote }}